<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876157661008-e9u9n7v61prq1dpcpp016td7drcbc6o9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876157661008-e9u9n7v61prq1dpcpp016td7drcbc6o9</string>
	<key>API_KEY</key>
	<string>AIzaSyAY_VqQGv1YFaqDk7HlxTmXsgWGA7jSjgU</string>
	<key>GCM_SENDER_ID</key>
	<string>876157661008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.matcher</string>
	<key>PROJECT_ID</key>
	<string>matcher-3b872</string>
	<key>STORAGE_BUCKET</key>
	<string>matcher-3b872.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876157661008:ios:38cde995de078b8849c655</string>
	<key>DATABASE_URL</key>
	<string>https://matcher-3b872.firebaseio.com</string>
</dict>
</plist>